/* About Us */
.about__container {
  margin: 2rem 0 5rem 0;
}

.about__heading {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: var(--primary-dark);
  letter-spacing: 0.5px;
  margin-bottom: 5rem;
}
.recent__skills {
  display: flex;
}
.about__link {
  color: dodgerblue;
}

.company {
  display: flex;
  justify-content: space-between;
}
.space {
  width: 60%;
  border-bottom: 1px solid var(--border-grey);
  height: 15px;
  margin: 0 1rem 0 1rem;
}
.cal {
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  margin-left: 4px;
  margin-right: 5px;
}

.separator {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 330px) {
  .recent__skills > p:first-child {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 430px) {
  .recent__skills > p:first-child {
    margin-right: 8rem;
  }
}
