/* Projects */
.projects {
  margin: 2rem 0 5rem 0;
}
.project__heading {
  text-align: center;
  color: var(--primary-dark);
  letter-spacing: 0.5px;
  margin-bottom: 5rem;
}

.project_card {
  margin-bottom: 9rem;
}

.project__image img {
  border-radius: 10px;
  min-width: 25rem;
  background-color: var(--image-bg);
}
.project__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .project_card {
    display: flex;
  }
  .project__image {
    margin-right: 4rem;
  }

  .project__details {
    width: 80%;
  }

  .project__title {
    margin-top: 0;
  }
}
